html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --h2-color: 217, 19%, 35%;
  --h5-color: 217, 19%, 35%;
  --share-btn-color: 214, 17%, 51%;
  --p-preview-color: 214, 17%, 51%;
  --p-dp-color: 212, 23%, 69%;
  --share-hover: 212, 23%, 69%;
  --background-color: 210, 46%, 95%;
  --preview-background-color: 0, 0%, 100%;
  --p-font-size: 1.3rem;
  --img-width: 100%;
}

body {
  background-color: hsl(var(--background-color));
}

.component {
  width: 50%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 15rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

.article-img {
  margin: 0;
  box-sizing: border-box;
  width: 40%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

img {
  width: var(--img-width);
  display: block;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.preview {
  width: 60%;
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: hsl(var(--preview-background-color));
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(var(--h2-color));
}

.preview > p {
  font-size: var(--p-font-size);
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: hsl(var(--p-preview-color));
}

.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dp {
  width: 3rem;
}

.dp img {
  border-radius: 50%;
}

.dp-cred h5 {
  color: hsl(var(--h5-color));
  margin-bottom: 0.2rem;
  font-size: var(--p-font-size);
  font-weight: 700;
}

.dp-cred p {
  color: hsl(var(--p-dp-color));
  font-size: var(--p-font-size);
  font-weight: 200;
}

.share-info {
  display: none;
}

.shared {
  display: flex;
  position: absolute;
  bottom: 5rem;
  right: -7rem;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2.2rem;
  border-radius: 0.7rem;
  background-color: hsl(var(--h2-color));
  z-index: 100;
}

.share-info > p {
  text-transform: uppercase;
  font-size: var(--p-font-size);
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: hsla(var(--preview-background-color), 0.5);
}

.icon {
  width: 1.7rem;
}

.share-icon {
  width: 2.3rem;
  background-color: hsla(var(--share-hover), 0.2);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.share-icon:active .share-info {
  position: absolute;
  bottom: 0;
  right: -3rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 0.7rem;
  background-color: hsl(var(--h2-color));
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-block: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 47rem) {
  .component {
    width: 90%;
    flex-direction: column;
    margin-top: 5rem;
  }

  .preview {
    padding: 3rem 2.5rem 2rem 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .preview > p {
    font-size: 1.6rem;
  }

  .personal {
    margin-top: 1rem;
  }

  .profile {
    gap: 1.8rem;
  }

  .dp {
    width: 4rem;
  }

  .dp-cred p {
    font-size: 1.6rem;
  }
}
